#contact-me {
    position: sticky;
    text-align: center;
    color: #eeeeee;
    padding-bottom: 12%;
}

.svgIcon {
    width: 80%;
    height: 80%;
    position: relative;
    display: block;
    margin: auto;
    background: #3a4750;
}
a {
    color: #eeeeee !important;
}