.title {
    font-family: Helvetica, Arial, sans-serif;
}
.centralTitle {
    font-size: 6rem;
    color: #eeeeee;
    font-weight: 300;
}
.subTitle {
    color: #eeeeee;
    font-size: 2rem;
    padding: 7px;
}
#home {
    position: sticky;
    text-align: center;
    padding: 14% 24%;
}